body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.search-container {
    margin-top: 15px;
}

#searchInput {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.categories-container {
    margin-top: 15px;
}

.category-btn {
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.category-btn.active {
    background-color: #555;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 15px;
}

.product-info h3 {
    margin: 0;
    font-size: 1.2em;
}

.product-info p {
    color: #777;
    font-size: 0.9em;
}

.contact-btn {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    background-color: #25d366; /* Color de WhatsApp */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.contact-btn:hover {
    background-color: #128c7e;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
/* Estilo para los productos vendidos */
.sold-out {
    opacity: 0.6; /* Hace que la tarjeta se vea un poco más transparente */
    border: 2px solid #ccc; /* Agrega un borde gris */
    position: relative;
}

.sold-out .contact-btn {
    display: none; /* Oculta el botón de "Me interesa" */
}

.sold-out-tag {
    background-color: #c0392b; /* Un color rojo para la etiqueta */
    color: #fff;
    font-weight: bold;
    padding: 8px;
    position: absolute; /* Coloca la etiqueta sobre la tarjeta */
    top: 10px;
    right: 10px;
    border-radius: 5px;
    font-size: 0.8em;
}